@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,600&display=swap');
$color_black: #1D2324;
$color_white: #FFFFFF;
$color_anthracite: #494A51;
$color_blue: #3D84B3;
$color_lightblue: #82B3D4;
$color_brown: #AA958C;
$color_lightgrey: #c8c8ca;
$color_bg: #CEE1EE;
$color_transparentblue:  rgba(130, 179, 212, 0.397);